.top-container {
    display: flex;
    border: 1px solid red;
    flex: 1;
    margin-left: -8px;
    margin-top: -8px;
    margin-right: -8px;
    flex-wrap: wrap;
    background-color: #1F2937;


}

.header {
    display: flex;
    flex-flow: row wrap;
    background-color: #1F2937;
    width: 100%
    
    
    
}

.welcome-title {
    font-weight: 900;
    font-size: 48px;
    color: #F9FAF8;
    
}

button {
    background-color: #3882f6;
    padding: 10px;
    width: 20%;
    margin-top: 8px;
    border-radius: 10px;
}

.links,
.welcome-message {
    font-size: 18px;
    color: #E5E7EB;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    margin-top: 15px;
    font-weight: 700;

}

.right-side {
    
    width: 750px;
    height: 225px;
    
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    margin-top: -250px;
    margin-left: 860px;
    margin-top: -225px;
    

   
   
}

a {
    text-decoration: none;
    color: #E5E7EB;
    
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    gap: 15px;
    
}

.top-box {
    display: flex;
    justify-content: space-around;
    border: 1px solid green;
    width: 100%
}

.links {
    margin-left: 250px;
    
}



/* welcome-panel */

.welcome-panel {
    display: flex;
    flex-direction: column;
    border: 1px tan;
    margin-bottom: 85px;
   
}


.left-side {
    display: flex;
    flex-flow: column wrap;
    margin-left: 310px;
    margin-right: 1150px;
    margin-top: 75px;
    flex: 1;
    border: 1px solid yellow;

}



.welcome-title {
    border: 1px solid purple;
    display: flex;
    flex-wrap: wrap;
    
    
}


.welcome-message {
    border: 1px solid teal;
    display: flex;
    

}

.front-image {
    display: flex;
    justify-content: flex-end;
    border: 1px solid pink;
    

}

.right-side {
    display: flex;
    flex-direction: column;
}



/*information-panel */



.information-panel {
    display: flex;
    flex-flow: row wrap;
    border: 1px solid orange;
    background-color: white;
    flex: 1;
    align-items: center;
    margin-left: -8px;
    margin-right: -8px;
   
    

}

.information-title {
    display: flex;
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    margin-top: 25px;
    margin-bottom: 25px;
    width: 100%;
    justify-content: center;
    border: 1px solid gray;
    
}

.dish-images img {
    display: flex;
    flex: 1;
    width: 250px;
    height: 175px;
    border-radius: 10px;
    
}

.featured-dishes-1,
.featured-dishes-2,
.featured-dishes-3,
.featured-dishes-4 {
    display: flex;
    gap: 35px;
    flex-direction: column; 
}

.featured-dishes-text {
    width: 250px;
    border: 1px solid blueviolet;
    margin-top: 5px;
    margin-top: -30px;
}

.featured-dishes-4 {
    display: flex;
    flex-direction: column;
    
}

.featured-dishes-text-4 {
    width: 250px;
    border: 1px solid blueviolet;
    margin-top: -30px;
    
}

.featured-dishes {
    display: flex;
    width: 100%;
    border: 1px solid yellow;
    justify-content: center;
    gap: 50px;
    margin-bottom: 100px;
}


/* quote-panel */



.quote-panel {
    display: flex;
    flex-flow: row wrap;
    background-color: #E5E7EB;
    border: 1px solid brown;
    padding: 100px 400px 100px 400px;
    margin-left: -8px;
    margin-right: -8px;
}

.quote {
    font-size: 36px;
    font-style: italic;
    
}

.signature {
    font-size: 22px;
    font-weight: 700;
    display: flex;
    width: 100%;
    justify-content: flex-end;
    margin-right: 35px;
}